<%- include('partials/header'); -%>

	<main class="mx-auto mt-5" style="width: 420px">
		<div class="headings">
			<h2>Files Library</h2>
		</div>

		<% for(let i=0; i < collection.filePath.length; i++) { %>
			<div>
				<a href="<%= collection.filePath[i] %>" download>
					<%= collection.filesNames[i] %>
				</a>
			</div>
			<% } %>
	</main>

	<%- include('partials/footer'); -%>