<%- include('partials/header'); -%>

	<main class="mx-auto mt-5" style="width: 420px">
		<div class="headings">
			<h2>
				Profile
			</h2>

			<p>
				<%= collectionUser.email %>
			</p>


		</div>
		<nav>
			<a id="myFilesRoute" href="/library">View my files</a>
		</nav>
		<h3 class="mt-5">Upload File</h3>
		<form id="uploadForm" class="form-contaier" method="post"
			enctype="multipart/form-data" action="/uploadFile">
			<div class="mb-3">
				<label for="formFile" class="form-label">Default file input
					example</label>
				<input id="formFile" class="form-control" type="file" name="uploadFile">
			</div>
			<!-- <div class="mb-3">
				<label for="formFileMultiple" class="form-label">Multiple files input
					example</label>
				<input class="form-control" type="file" id="formFileMultiple"
					name="myFiles" multiple>
			</div> -->
			<button type="submit" class="btn btn-primary mt-1">Submit</button>
		</form>
		<h3 class="mt-5">Invite Some Dude</h3>

		<form id="formInvite">
			<div class="mb-3">
				<label for="emailAdress" class="form-label">Email
					address</label>
				<input type="email" class="form-control" id="emailAdress"
					placeholder="name@example.com">
				<div class="sendEmail error"></div>
			</div>
			<div class="mb-3">
				<label for="userMessage" class="form-label">Your
					message</label>
				<textarea type="textarea" class="form-control" id="userMessage"
					rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Invite</button>
		</form>

		<script>
			const emailForm = document.querySelector('#formInvite');
			const emailError = document.querySelector('.sendEmail.error');
			const textAreaValue = document.querySelector('#userMessage');
			const emailValue = document.querySelector('#emailAdress');

			// const libraryRoute = document.querySelector('#myFilesRoute')

			// libraryRoute.addEventListener('click', async (e) => {
			// 	await fetch('/library')
			// }, false);

			emailForm.addEventListener('submit', async (e) => {
				e.preventDefault();

				// get values
				console.log(emailValue.value)
				console.log(textAreaValue.value)

				const email = emailValue.value;
				const userMessage = textAreaValue.value;

				try {
					const res = await fetch('/send', {
						method: 'POST',
						body: JSON.stringify({ email: email, message: userMessage }),
						headers: {
							'content-length': '288',
							'content-type': 'application/json; charset=UTF-8',
						}
					});
					// const data = await res.json();
					// console.log(data);
					// if (data.errors) {
					// 	emailError.textContent = data.errors.email;
					// }
					// location.assign('/ggg');
				}
				catch (err) {
					console.log(err);
				}
			});
		</script>



	</main>


	<%- include('partials/footer'); -%>